.visuallyHidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
}

th button {
  color: #000;
  border: 0;
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 0.333rem;
}


th .defaultArrow {
  stroke: currentColor;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  width: 0.5rem;
  height: 1.5em;
}
