div:not([tabindex]):focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.tableScroll {
  overflow-x: auto;
}

/**
 * Hide the table display on viewports less than 400px wide.
 */
@media (max-width: 399px) {
  .tableContainer {
    display: none;
  }
}

/**
 * Display the definition list on viewports less than 400px wide.
 */
.listsContainer {
  display: block;
}

@media (min-width: 400px) {
  .listsContainer {
    display: none;
  }
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 0.75rem;
}

th {
  white-space: nowrap;
}

caption {
  margin-bottom: 0.5rem;
  text-align: left;
}
