div:not([tabindex]):focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.tableContainer {
  overflow-x: auto;
}

@media (max-width: 400px) {
  .tableContainer {
    display: none;
  }
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 0.75rem;
}

th {
  white-space: nowrap;
}

caption {
  margin-bottom: 0.5rem;
  text-align: left;
}

.listsContainer {
  display: block;
}

@media (min-width: 400px) {
  .listsContainer {
    display: none;
  }
}

dl {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

dl > * {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  margin: 0;
  margin-bottom: 0.5rem;
}

dt {
  padding-right: 0.5rem;
}

dt {
  font-weight: bold;
}

th button {
  background: #fff;
  color: #000;
  border: 0;
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 0.333rem;
}


th svg {
  stroke: currentColor;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  width: 0.5rem;
  height: 1.5em;
}

.visuallyHidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
}
